@import '../../styles/globals';

.Statistics_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .cardsContainer {
      justify-content: center;
      gap: 40px;
    }
  }
}
