@import '../../styles/globals';

.ReviewWordCardWindow_container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .totalWords_container {
    margin: 0 0 10px 0;
  }

  .description_container {
    margin: 0 0 10px 0;
  }

  .wordInfo_container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    max-height: 65vh;
    overflow-y: auto;

    .wordInfo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-width: $borderWidth;
      border-style: $borderStyle;
      border-radius: $borderRadius;
      padding: 10px;

      &.light {
        border-color: $lightTheme-borderColor;
      }

      &.dark {
        border-color: $darkTheme-borderColor;
      }

      .characterAndPinyinAndTranslation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .badgeOrStreakCount {
        display: flex;
        flex-direction: row;

        .streakCount {
          width: 10px;
          height: 10px;
          background-color: seagreen;
          border-radius: 50%;
          margin-right: 3px;
        }
      }
    }
  }
}
