services:
  postgres:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1478236950
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - postgres
    restart: unless-stopped
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: kolyakhryapov@gmail.com
      PGADMIN_DEFAULT_PASSWORD: 1478236950
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - postgres
    restart: unless-stopped
  rabbitmq:
    image: rabbitmq:3.9.11-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    # username: guest
    # password: guest
    networks:
      - spring

  eureka-server:
    build:
      context: ./eureka-server
      dockerfile: ./Dockerfile
    image: eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - spring
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: ./Dockerfile
    image: api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - spring
    depends_on:
      - eureka-server

  fraud-check:
    build:
      context: ./fraud-check/
      dockerfile: ./Dockerfile
    image: fraud-check
    container_name: fraud-check
    ports:
      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - spring
      - postgres
    depends_on:
      - eureka-server
      - postgres
      - rabbitmq
      - api-gateway
  notification:
    build:
      context: ./notification/
      dockerfile: ./Dockerfile
    image: notification
    container_name: notification
    ports:
      - "8083:8083"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - spring
      - postgres
    depends_on:
      - postgres
      - rabbitmq
      - eureka-server
      - api-gateway
  file-storage:
    build:
      context: ./file-storage/
      dockerfile: ./Dockerfile
    image: file-storage
    container_name: file-storage
    ports:
      - "8084:8084"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - spring
      - postgres
    depends_on:
      - postgres
      - rabbitmq
      - eureka-server
      - api-gateway

  user:
    build:
      context: ./user/
      dockerfile: ./Dockerfile
    image: user
    container_name: user
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - spring
      - postgres
    depends_on:
      - postgres
      - rabbitmq
      - eureka-server
      - api-gateway
      - fraud-check
      - notification
      - file-storage

  vocabulary:
    build:
      context: ./vocabulary/
      dockerfile: ./Dockerfile
    image: vocabulary
    container_name: vocabulary
    ports:
      - "8085:8085"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - spring
      - postgres
    depends_on:
      - postgres
      - rabbitmq
      - eureka-server
      - api-gateway
      - fraud-check
      - notification
      - file-storage
      - user

networks:
  postgres:
    driver: bridge
  spring:
    driver: bridge

volumes:
  postgres:
  pgadmin: