@import '../../styles/globals';

.Navbar_container {
  height: 70px;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  gap: 30px;

  &.light {
    background-color: $lightTheme-bgColor;
  }

  &.dark {
    background-color: $darkTheme-bgColor;
  }

  .notifications {
    .notificationsList {
      width: 400px;

      &.light {
        background-color: $lightTheme-bgColor;
      }

      &.dark {
        background-color: $darkTheme-bgColor;
      }

      .notification_container {
        height: 40px;
        align-items: center;
        justify-content: center;

        .notification {
          width: 400px;
          border-radius: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &.light {
            background-color: $lightTheme-bgColor;
          }

          &.dark {
            background-color: $darkTheme-bgColor;
          }

          &:hover {
            &.light {
              background-color: $lightTheme-hoverBgColor;
            }

            &.dark {
              background-color: $darkTheme-hoverBgColor;
            }
          }
        }
      }

      .noNotifications_container {
        height: 50px;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .profile {
    .menuList {
      &.light {
        background-color: $lightTheme-bgColor;
      }

      &.dark {
        background-color: $darkTheme-bgColor;
      }

      .menuItem {
        &.light {
          background-color: $lightTheme-bgColor;
        }

        &.dark {
          background-color: $darkTheme-bgColor;
        }

        &:hover {
          &.light {
            background-color: $lightTheme-hoverBgColor;
          }

          &.dark {
            background-color: $darkTheme-hoverBgColor;
          }
        }
      }
    }
  }

  .space {
    width: 15px;
  }
}

.notifications_container {
  flex-direction: column;
  justify-content: space-between;
  gap: 0;

  .notification {
    width: 460px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.light {
      background-color: $lightTheme-bgColor;
    }

    &.dark {
      background-color: $darkTheme-bgColor;
    }

    &:hover {
      &.light {
        background-color: $lightTheme-button-hoverBgColor;
      }

      &.dark {
        background-color: $darkTheme-button-hoverBgColor;
      }
    }
  }
}
