@import 'variables';

.centered {
  text-align: center;
}

.cardsIcon {
  font-size: 20px;
}

.indexPage_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.buttons_container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
