server:
  port: 8081

spring:
  application:
    name: fraud-check
  datasource:
    url: jdbc:postgresql://localhost:5432/fraud-check
    username: 'postgres'
    password: '1478236950'
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: 'true'
    hibernate:
      ddl-auto: update
    show-sql: 'true'

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/