@import '../../styles/globals';

.AuthPage_container {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &.light {
    background-color: $lightTheme-background;
  }

  &.dark {
    background-color: $darkTheme-background;
  }
}
