@import '../styles/globals';

.pageLayout {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  &.light {
    background-color: $lightTheme-background;
  }

  &.dark {
    background-color: $darkTheme-background;
  }
}
