@import '../../../styles/globals';

.button {
  font-size: $buttonFontSize;
  font-weight: $buttonFontWeight;

  &.light {
    color: $lightTheme-button-color;
    background-color: $lightTheme-button-bgColor;
  }

  &.dark {
    color: $darkTheme-button-color;
    background-color: $darkTheme-button-bgColor;
  }

  &.standard:hover {
    &.light {
      color: $lightTheme-button-color;
      background-color: $lightTheme-button-hoverBgColor;
    }

    &.dark {
      color: $darkTheme-button-color;
      background-color: $darkTheme-button-hoverBgColor;
    }
  }

  &.redOnHover:hover {
    &.light {
      color: $lightTheme-button-color;
      background-color: $lightTheme-button-removeHoverBgColor;
    }

    &.dark {
      color: $darkTheme-button-color;
      background-color: $lightTheme-button-removeHoverBgColor;
    }
  }
}
