@import '../../../styles/globals';

.heading1 {
  font-size: $h1FontSize;
  font-weight: $h1FontWeight;
}

.heading2 {
  font-size: $h2FontSize;
  font-weight: $h2FontWeight;
}

.heading3 {
  font-size: $h3FontSize;
  font-weight: $h3FontWeight;
}

.heading4 {
  font-size: $h4FontSize;
  font-weight: $h4FontWeight;
}
