@import '../../styles/globals';

.StatsReviewWindow_container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .packProgress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: $borderWidth;
    border-style: $borderStyle;
    border-radius: $borderRadius;
    padding: 10px 15px 15px;

    .wordPackNameAndInfoButton {
      justify-content: space-between;
      align-items: center;
    }

    .stats {
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .reviewStatus {
    display: flex;
    flex-direction: column;
    border-width: $borderWidth;
    border-style: $borderStyle;
    border-radius: $borderRadius;
    padding: 10px 15px 15px;

    .stats {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;

    .text {
        display: flex;
        flex-direction: column;
      }
    }
  }
}