@import '../../styles/globals';

.authFormContainer {
  border-width: $borderWidth;
  border-style: $borderStyle;
  border-radius: $borderRadius;
  width: 380px;
  padding: 30px;

  &.light {
    background-color: $lightTheme-bgColor;
  }

  &.dark {
    background-color: $darkTheme-bgColor;
  }
}
