server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user
          uri: lb://USER
          predicates:
            - Path=/api/v1/auth/**
          filters:
            - AuthenticationFilter
          metadata:
            cors:
              allowedOrigins: '*'
              allowedMethods: '*'
              allowedHeaders: '*'
        - id: user
          uri: lb://USER
          predicates:
            - Path=/api/v1/user/**
          filters:
            - AuthenticationFilter
          metadata:
            cors:
              allowedOrigins: '*'
              allowedMethods: '*'
              allowedHeaders: '*'
        - id: notifications
          uri: lb://NOTIFICATION
          predicates:
            - Path=/api/v1/notifications/**
          filters:
            - AuthenticationFilter
          metadata:
            cors:
              allowedOrigins: '*'
              allowedMethods: '*'
              allowedHeaders: '*'
        - id: chinese-flashcards
          uri: lb://CHINESE-FLASHCARDS
          predicates:
            - Path=/api/v1/chinese-flashcards/**
          filters:
            - AuthenticationFilter
          metadata:
            cors:
              allowedOrigins: '*'
              allowedMethods: '*'
              allowedHeaders: '*'

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/