server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: application-user
          uri: lb://APPLICATION-USER
          predicates:
            - Path=/api/v1/**
          filters:
            - AuthenticationFilter
          metadata:
            cors:
              allowedOrigins: '*'
              allowedMethods: '*'
              allowedHeaders: '*'
        - id: vocabulary
          uri: lb://VOCABULARY
          predicates:
            - Path=/api/v1/vocabulary/**
          filters:
            - AuthenticationFilter
          metadata:
            cors:
              allowedOrigins: '*'
              allowedMethods: '*'
              allowedHeaders: '*'

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/